<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Hello OpenFin</title>
        <meta name="description" content="OpenFin Hello World">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body >
        <div class="container of-draggable" style="-webkit-app-region: drag">
            <div id="minimize-window" class="btn top-btn minimize">
                <div class="minimize-bar"></div>
            </div>
            <div id="close-app" class="btn top-btn close">x</div>
            <div class="top-description">
                <img class="logo" src="../img/logo.png" alt="openfin logo" />
                <span class="name-fin">
                    (About Hello OpenFin)
                </span>
            </div>
            <p class="explanation">
                This demo application showcases some of the features of the OpenFin Runtime. You can find Production ready applications built on OpenFin's Runtime please in our <a id="appGalleryLink" href="#">App Gallery</a>
            </p>
            <p class="explanation">
                This is an HTML5/Javascript application that leverages the OpenFin API to access native functionality.
            </p>
            <p class="explanation">
                The code is open source and can be found on <a id="githubLink" href="#">github.</a> and a walkthrough can be found on <a id="openFinApiLink" href="#">the OpenFin API Docs</a>
            </p>
            <div class="copyright-info">
                © 2014 OpenFin All Rights Reserved.
            </div>
        </div>
        <script src="../js/utils.js"></script>
        <script src="../js/animations.js"></script>
        <script src="../js/about.js"></script>
        <script src="https://developer.openfin.co/release/adapter/js/unstable/openfin-desktop-js-adapter-v2.0.6.0.js"></script>
    </body>
</html>
