<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Hello OpenFin</title>
        <meta name="description" content="OpenFin Hello World">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body >
        <div class="container of-draggable">
            <div id="minimize-window" class="btn top-btn minimize">
                <div class="minimize-bar"></div>
            </div>
            <div id="close-app" class="btn top-btn close">x</div>
            <div class="top-description">
                <img class="logo" src="/img/logo.png" alt="openfin logo">
                <span class="name-fin">
                    (About Hello OpenFin)
                </span>
            </div>
            <p class="explanation">
                This is a demo application meant to showcase some of the features of the OpenFin runtime.
            </p>
            <p class="explanation">
                It has been built with HTML5 and Javascript levereging the OpenFin API to access native functionality, the code is open source and can be found on <a href="https://github.com/openfin/HelloOpenFin">github.</a>
            </p>
        </div>
        <script src="/js/about.js"></script>
        <script src="https://developer.openfin.co/release/adapter/js/unstable/openfin-desktop-js-adapter-v2.0.6.0.js"></script>
    </body>
</html>
