<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Application</title>
        <meta name="application form" content="Add Application">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body >
        <div class="container of-draggable">
            <div id="minimize-window" class="btn top-btn minimize">
                <div class="minimize-bar"></div>
            </div>
            <div id="close-app" class="btn top-btn close">x</div>
            <div class="top-description">
                <img class="logo" src="/img/logo.png" alt="openfin logo">
                <span class="name-fin">
                    Add an application
                </span>
            </div>
            <p class="explanation">
                We will now go through the steps of creating an OpenFin launcher for a web application of your choosing,
                the first step is to provide the information below and download the JSON file generated.
            </p>
            <form role="form">
                <div class="center-form">
                    <label for="appName">Name</label>
                    <input type="text" required class="text-box" placeholder="new app name" id="appName"  />
                    <label for="startUrl">URL</label>
                    <input type="url" required class="text-box" placeholder="http://localhost:5000" id="startURL" />
                    <label for="iconUrl">Icon URL</label>
                    <input type="url" required class="text-box" id="iconUrl" placeholder="http://localhost:5000/icon.ico" />
                </div>
                <div class="menu-buttons">
                    <button class="btn" id="generate-json">Generate JSON</button>
                    <button class="btn" id="create-installer">Create Installer</button>
                </div>
            </form>
        </div>
        <script src="/js/utils.js"></script>
        <script src="/js/add-application.js"></script>
        <script src="https://developer.openfin.co/release/adapter/js/unstable/openfin-desktop-js-adapter-v2.0.6.0.js"></script>
    </body>
</html>
