<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello OpenFin CPU Info</title>
    <meta name="description" content="OpenFin Hello World">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="">
    <div class="container ">
        <div id="minimize-window" class="btn top-btn cpu-minimize">
            <div class="minimize-bar"></div>
        </div>
        <div id="close-app" class="btn top-btn cpu-close">x</div>
        <div class="top-description">
            <h1>
               <span class="name-open">CPU</span>
               <span class="name-fin">Usage</span>
            </h1>
        </div>
        <div class="chart-container">
            <div id="chart">
            </div>
        </div>
        <div class="copyright-info">
            OpenFin Runtime Version: <span id="runtime-version-number"></span>
        </div>
    </div>
    <script src="../bower_components/d3/d3.js" charset="utf-8"></script>
    <script src="https://developer.openfin.co/release/adapter/js/unstable/openfin-desktop-js-adapter-v2.0.6.0.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/cpu-charts.js"></script>
    <script src="../js/cpu-window.js"></script>
    <script src="../js/animations.js"></script>
</body>
</html>
