/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #2d2e29;
    /*-webkit-app-region: drag;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body:active {
    cursor: -webkit-grabbing !important;
}
h1,h2,h3 {
    color:#fb9e25;
}
.container {
    max-width: 395px;
}
.top-description h1 {
    margin-bottom: -10px;
}
.top-description span {
    color:#5972a7;
}
path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.chart-container {
    max-height: 400px;
}
.btn {
    padding: 5px;
    font-size: 14px;
    color: #2d2e29;
    background-color: #595b5b;
    border: 1px solid #333434;
    margin-right: 0px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: #626465;
}
.btn:active {
    border: 1px solid #333434;
    background-color: #3f4041;
    box-shadow: inset 0 1px rgba(0,0,0,0.05);
}
.btn:focus {
    border: 1px solid #0036ff;
    box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
    outline: 0;
}
.close {
    position: absolute;
    top: 10px;
    left: 370px;
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    line-height: 10px;
    padding: 0 3px 2px 3px;
}

.notification-body span {
    margin-top: -10px;
    color:#5972a7;
}
.notification-body h3 {
    margin-bottom: -5px;
}
