/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #2D2D2D;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body:active {
    cursor: -webkit-grabbing !important;
}
h1,h2,h3 {
    color:#ABCBE8;
}
.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container:active {
    cursor: -webkit-grabbing !important;
}
.top-description {
    margin-top: 20px
}
.top-description h1 {
    margin-bottom: -10px;
}
path.slice{
    stroke-width:2px;
}

.name-open {
    color:#ABCBE8;
}

.name-fin {
    color:#4F8ABA;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.chart-container {
    max-height: 400px;
    margin: 0 0 -30px 10px;
}
.btn {
    padding: 5px;
    font-size: 14px;
    color: #2D2D2D;
    background-color: #595b5b;
    border: 1px solid #333434;
    margin-right: 0px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: #626465;
}
.btn:active {
    border: 1px solid #333434;
    background-color: #3f4041;
    box-shadow: inset 0 1px rgba(0,0,0,0.05);
}
.btn:focus {
    border: 1px solid #0036ff;
    box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
    outline: 0;
}
.top-btn {
    position: absolute;
    border-radius: 20px;
    margin: 0px;
    line-height: 10px;
    top: 5px;
    padding: 0 3px 2px 3px;
    -webkit-app-region: no-drag;
}

.close {
    left: 370px;
}
.cpu-close {
    left: 500px;
}
.minimize {
    left: 350px;
}
.cpu-minimize {
   left: 480px;
}
.minimize-bar {
    background: #2D2D2D;
    width: 8px;
    height: 2px;
    display: inline-block;
    border-radius: 20px;
    vertical-align: middle;
}

.notification-body span {
    margin-top: -10px;
    color:#4F8ABA;
    font-weight: bold;
}
.notification-body h3 {
    margin-bottom: -5px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************************************
* styles for cpu window ****************/

.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.y, .x, .legend{
    fill : #fff;
  }
